MODE=DEV

LOGGING__LEVEL=DEBUG

FRONTEND_URL=http://localhost:8000/api/v1/auth/password-reset

SERVICE__NAME=link_api
SERVICE__PORT=8000
SERVICE__DEBUG=True

AUTH__SECRET_KEY=86212079d088c11056f093995ae695bcfd0d4978e36d74e8623a8c760aebcea6
AUTH__ALGORITHM=HS256
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=30

CORS__ALLOWED_ORIGINS=["*"]

DATABASE__HOST=link_api_database
DATABASE__PORT=5432
DATABASE__DB=link_saver_db
DATABASE__USER=user
DATABASE__PASSWORD=password


TEST_DATABASE__HOST=localhost
TEST_DATABASE__PORT=5432
TEST_DATABASE__DB=test_link_saver_db
TEST_DATABASE__USER=user
TEST_DATABASE__PASSWORD=password


CACHE__HOST=link_api_cache
CACHE__PORT=6379
CACHE__DB=0
CACHE__URL=redis://${CACHE__HOST}:${CACHE__PORT}/${CACHE__DB}


RABBITMQ_HOST=link_api_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
TASKIQ__URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}//
